<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="data source=LSYPC\SQLEXPRESS;initial catalog=Test2;Trusted_Connection=true;multipleactiveresultsets=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>